/*键盘样式*/           
#irain-plate-keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 5px solid #eef0f4;
    background: #eef0f4;
    box-sizing: border-box;
}

/* 按键样式 */
.key {
    background: white;
    width: 9.5%;
    font-size: 28px;
    border-radius: 10px;
    /* box-shadow: 0 1px 2px #DDDDDD; */
    color: black;
    margin-right:calc((100% - 9.5% * 10)/9);
    margin-bottom: 1%;
    overflow: hidden;
    outline: none;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

/* 右边沿按键 */
.key:nth-child(10n + 10) {
    margin-right: 0;
}

.key:hover {
    cursor: pointer;
}

.key span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 操作按钮 */
.operate {
    flex: 0 0 15%;
}

/* 禁用按钮样式 */
.irain-keyborad-disabled {
    color: #DDDDDD;
}

/* 更多视图中布局 */
.key.irain-keyborad-getMore-20 {
    margin-left: 5%;
}
.key.irain-keyborad-getMore-29 {
    margin-right: calc((100% - 9.5% * 10)/9);
}

/* 字体适配 */
@media screen and (max-width : 667px) {
    .key {
        font-size: 14px;
        border-radius: 4px;
    }
}
/* ipad */
@media (min-width: 668px) and (max-width: 768px) {
    .key {
        font-size: 20px;
        border-radius: 8px;
    }
}